@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

:root {
  --main-accent: #B73064;
  --blue-accent: #212632;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.border-main
{
  border-color: var(--main-accent);
}

.lato-16-white
{
  font-family: 'lato';
  color: white;
  font-size: 16px;
}
.lato-16-white-bold
{
  font-family: 'lato';
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.lato-16-blue
{
  font-family: 'lato';
  color: var(--blue-accent);
  font-size: 16px;
  text-align: justify;
}
.lato-16-blue-bold
{
  font-family: 'lato';
  color: var(--blue-accent);
  font-size: 16px;
  font-weight: bold;
}
.lato-16-main-bold
{
  font-family: 'lato';
  color: var(--main-accent);
  font-size: 16px;
  font-weight: bold;
}
.lato-18-main-bold
{
  font-family: 'lato';
  color:var(--main-accent);
  font-size: 18px;
  font-weight: bold;
}
.lato-14-blue-bold
{
  font-family: 'lato';
  color: var(--blue-accent);
  font-size: 14px;
  font-weight: bold;
}
.lato-14-blue
{
  font-family: 'lato';
  color: var(--blue-accent);
  font-size: 14px;
  text-align: justify;
}
.lato-14-white
{
  font-family: 'lato';
  color: white;
  font-size: 14px;
  text-align: justify;
}
.lato-14-white-centered
{
  font-family: 'lato';
  color: white;
  font-size: 14px;
  text-align: center;
}
.lato-14-white-bold
{
  font-family: 'lato';
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.lato-12-white-centered
{
  font-family: 'lato';
  color: white;
  font-size: 12px;
  text-align: center;
}
.lato-14-main
{
  font-family: 'lato';
  color: var(--main-accent);
  font-size: 14px;
  text-align: justify;
}
.lato-16px-0lh
{
  font-family: 'lato';
  color: white;
  font-size: 16px;
  line-height: 25px;
}
.secular-60px-70lh
{
  font-family: "Secular One";
  font-size: 60px;
  line-height: 70px;
}
.secular-30px-40lh
{
  font-family: "Secular One";
  font-size: 30px;
  line-height: 40px;
}
.secular-50px-55lh
{
  font-family: "Secular One";
  font-size: 50px;
  line-height: 55px;
}
.secular-40px-45lh
{
  font-family: "Secular One";
  font-size: 40px;
  line-height: 45px;
}
.secular-30px-35lh
{
  font-family: "Secular One";
  font-size: 30px;
  line-height: 35px;
}
.secular-30px-white
{
  font-family: "Secular One";
  font-size: 35px;
  color: white;
}
.secular-25px-37lh-2ls
{
  font-family: "Secular One";
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 2.5px;
  writing-mode:vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color: #B73064;
}
.secular-25px-37lh-2ls-straight
{
  font-family: "Secular One";
  font-size: 25px;
  line-height: 37px;
  letter-spacing: 2.5px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width:1px;
  -webkit-text-stroke-color: #B73064;
}
.secular-25px
{
  font-family: "Secular One";
  font-size: 25px;
  line-height: 30px;
  text-align: left;
}
.secular-25px-centered
{
  font-family: "Secular One";
  font-size: 25px;
  line-height: 30px;
  text-align: center;
}
.secular-16px-upper
{
  font-family: "Secular One";
  font-size: 16px;
  text-transform: uppercase;
}
.secular-20px-upper
{
  font-family: "Secular One";
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;

}
.secular-20
{
  font-family: "Secular One";
  font-size: 20px;
  text-transform: uppercase;
}
.secular-16px-upper-bold
{
  font-family: "Secular One";
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.secular-14px-upper
{
  font-family: "Secular One";
  font-size: 14px;
  text-transform: uppercase;
}

.bebas-90px
{
  font-family: "Bebas Neue";
  font-size: 90px;
  font-weight:600;
  line-height: 100px;
}

.bebas-60px
{
  font-family: "Bebas Neue";
  font-size: 60px;
  font-weight:600;
  line-height: 70px;
}

.main-accent
{
  background-color:  var(--main-accent);
}
.main-accent-border
{
  border-color: var(--main-accent);
}
.main-text
{
  color: var(--main-accent);
}

.blue-text
{
  color: var(--blue-accent);
}

.blue-bg
{
  background-color: var(--blue-accent);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color:white;
}

.floral-white-bg
{
  background-color: floralwhite;
}
.default-state {
  clip-path: circle(20% at 120% 120%);
}
.hovered-state {
  clip-path: circle(170% at 120% 120%);
}